
<CascadingAuthenticationState>
    <MatThemeProvider Theme="@theme">
        <Router AppAssembly="typeof(Startup).Assembly">
            <Found Context="routeData">
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </Found>
            <NotFound>
                <p>Sorry, there's nothing at this address.</p>
            </NotFound>
        </Router>
    </MatThemeProvider>
</CascadingAuthenticationState>

@code
    {
    MatTheme theme = new MatTheme()
    {
        Primary = MatThemeColors.Indigo._700.Value,
        Secondary = MatThemeColors.Indigo._700.Value
    };
}